@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  font-display: auto;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Medium.ttf");
  font-weight: 600;
  font-style: normal;
  font-variant: normal;
  font-display: auto;
}
body {
  font-family: "OpenSans", "Arial", sans-serif;
  width: 100%;
  background: #ebf4e3;
}

.wrap {
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 690px) {
  .wrap {
    width: 92%;
  }
}

.header {
  background: url("../img/slider_main.png") no-repeat center/cover;
  height: 40rem;
  width: 100%;
  position: relative;
}
.header .header__bottom-bg {
  position: absolute;
  background: url("../img/bg_green_hren.png") no-repeat center/cover;
  bottom: -1px;
  left: -1px;
  width: 102%;
  height: 163px;
  right: -2px;
  z-index: 1000;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  text-align: right;
}
@media screen and (max-width: 1054px) {
  .header__menu {
    flex-direction: column-reverse;
    padding-top: 0;
  }
  .header__menu .logo-main-header {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .header__menu {
    text-align: left;
    flex-direction: column;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__list {
  display: flex;
}

.link {
  text-decoration: none;
  display: inline-block;
}

.list__link {
  color: #ffffff;
  padding: 5px 10px;
  border: 2px solid transparent;
}
.list__link:hover {
  border: 2px solid #ffffff;
  border-radius: 20px;
}

@media screen and (max-width: 420px) {
  .logo-main-header {
    width: 180px;
    height: auto;
  }
}

.burger {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .burger {
    display: flex;
    justify-content: end;
    margin-top: -1.4rem;
  }
}
@media screen and (max-width: 420px) {
  .burger {
    margin-top: -5px;
  }
}
.burger .burger__line {
  display: none;
  width: 30px;
  height: 2px;
  background: #ffffff;
  position: relative;
  z-index: 1000;
  top: -1rem;
  left: -1rem;
}

.burger .burger__line::after, .burger .burger__line::before {
  content: "";
  width: 30px;
  height: 2px;
  background: #ffffff;
  position: absolute;
  left: 0;
  transition-duration: 0.3s;
  z-index: 1000;
}

.burger .burger__line::after {
  top: 8px;
}

.burger .burger__line::before {
  top: -8px;
}

@media screen and (max-width: 600px) {
  .burger .burger__line {
    display: block;
  }
}
.header__list {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  justify-content: space-between;
  margin: 0;
  top: 2rem;
  transition-duration: 0.25s;
}

@media screen and (max-width: 600px) {
  .header__list {
    position: fixed;
    opacity: 0;
    flex-direction: column;
    top: 2rem;
    right: 0;
    min-width: 250px;
    border-bottom-right-radius: 20px;
    padding: 4rem 1rem;
  }
}
.menu__btn {
  display: block;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

#main__menu {
  opacity: 0;
}
@media screen and (min-width: 600px) {
  #main__menu {
    display: none;
  }
}

#main__menu:checked ~ .menu__btn > span {
  transform: rotate(45deg);
  background: #ffffff;
}

#main__menu:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
  background: #ffffff;
}

#main__menu:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
  background: #ffffff;
}

#main__menu:checked ~ .header__list {
  opacity: 1;
  right: 0;
  text-align: right;
  top: 2rem;
}

/*# sourceMappingURL=styles.css.map */
