@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Light.ttf");
  font-weight: 100;
  font-style: normal;
  font-variant: normal;
  font-display: auto;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  font-display: auto;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Medium.ttf");
  font-weight: 600;
  font-style: normal;
  font-variant: normal;
  font-display: auto;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/SourceSansPro.ttf");
  font-weight: 100;
  font-style: normal;
  font-variant: normal;
  font-display: auto;
}
._active {
  border: 4px solid #ffffff;
  border-radius: 20px;
}

body {
  font-family: "OpenSans", "Arial", sans-serif;
  width: 100%;
  background: #ebf4e3;
}

.wrap {
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 690px) {
  .wrap {
    width: 92%;
  }
}

.header {
  background: url("../img/slider_main.png") no-repeat center/cover;
  height: 40rem;
  width: 100%;
  position: relative;
}
.header .header__bottom-bg {
  position: absolute;
  background: url("../img/bg_green_hren.png") no-repeat center/cover;
  bottom: -50px;
  left: -1px;
  height: 163px;
  right: -2px;
  z-index: 1000;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  text-align: right;
}
@media screen and (max-width: 1054px) {
  .header__menu {
    flex-direction: column-reverse;
    padding-top: 0;
  }
  .header__menu .logo-main-header {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .header__menu {
    text-align: left;
    flex-direction: column;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__list {
  display: flex;
}

.link {
  text-decoration: none;
  display: inline-block;
}

.list__link {
  color: #ffffff;
  padding: 5px 10px;
  border: 4px solid transparent;
  border-radius: 20px;
}
.list__link:hover {
  border: 4px solid #ffffff;
}

._active {
  border: 4px solid #ffffff;
  border-radius: 20px;
}

@media screen and (max-width: 420px) {
  .logo-main-header {
    width: 180px;
    height: auto;
  }
}

.burger {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .burger {
    display: flex;
    justify-content: end;
    margin-top: -1.4rem;
  }
}
@media screen and (max-width: 420px) {
  .burger {
    margin-top: -5px;
  }
}
.burger .burger__line {
  display: none;
  width: 30px;
  height: 2px;
  background: #ffffff;
  position: relative;
  z-index: 1000;
  top: -1rem;
  left: -1rem;
}

.burger .burger__line::after, .burger .burger__line::before {
  content: "";
  width: 30px;
  height: 2px;
  background: #ffffff;
  position: absolute;
  left: 0;
  transition-duration: 0.3s;
  z-index: 1000;
}

.burger .burger__line::after {
  top: 8px;
}

.burger .burger__line::before {
  top: -8px;
}

@media screen and (max-width: 600px) {
  .burger .burger__line {
    display: block;
  }
}
.header__list {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  justify-content: space-between;
  margin: 0;
  top: 2rem;
  transition-duration: 0.25s;
}

@media screen and (max-width: 600px) {
  .header__list {
    position: fixed;
    opacity: 0;
    flex-direction: column;
    top: 2rem;
    right: 0;
    min-width: 250px;
    border-bottom-right-radius: 20px;
    padding: 4rem 1rem;
  }
}
.menu__btn {
  display: block;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

#main__menu {
  opacity: 0;
}
@media screen and (min-width: 600px) {
  #main__menu {
    display: none;
  }
}

#main__menu:checked ~ .menu__btn > span {
  transform: rotate(45deg);
  background: #ffffff;
}

#main__menu:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
  background: #ffffff;
}

#main__menu:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
  background: #ffffff;
}

#main__menu:checked ~ .header__list {
  opacity: 1;
  right: 0;
  text-align: right;
  top: 2rem;
}

.icon-container {
  padding: 2rem 0;
}

.icon-box {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 850px) {
  .icon-box {
    flex-wrap: wrap;
  }
}
.icon-box .icon-box__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 6rem 2rem 0;
}

.icon-box__item:nth-child(2) {
  background: url("../img/people_grass.jpg") no-repeat 50% 20%;
  border-right: 1px solid #79b33f;
  border-left: 1px solid #79b33f;
}
@media screen and (max-width: 850px) {
  .icon-box__item:nth-child(2) {
    border-right: 1px solid transparent;
  }
}
@media screen and (max-width: 545px) {
  .icon-box__item:nth-child(2) {
    border-top: 1px solid #79b33f;
    border-left: 1px solid transparent;
    border-right: 1px solid #79b33f;
  }
}
@media screen and (max-width: 521px) {
  .icon-box__item:nth-child(2) {
    border-right: 1px solid transparent;
  }
}

.icon-box__item:first-child {
  background: url("../img/icon_tree.jpg") no-repeat 50% 20%;
}

.icon-box__item:last-child {
  background: url("../img/flower_scissors.jpg") no-repeat 50% 20%;
}
@media screen and (max-width: 850px) {
  .icon-box__item:last-child {
    border-top: 1px solid #79b33f;
  }
}

.icon-title {
  text-transform: uppercase;
  color: #333b46;
  font-weight: 100;
  margin-bottom: 0;
}
@media screen and (max-width: 850px) {
  .icon-title {
    font-size: 1.25rem;
  }
}

.icon-sub_title {
  color: #333b46;
  font-weight: 100;
  text-align: center;
}

.about {
  background: #ffffff;
}
.about .btn {
  margin: auto;
}

.about__content {
  padding: 7rem 1rem 5rem;
}

.title_h1 {
  text-transform: uppercase;
  color: #3f6a1a;
  margin-bottom: 3rem;
}

.about__text {
  line-height: 2;
  color: #5c6068;
  margin-bottom: 5rem;
}

.btn {
  display: block;
  border-radius: 50px;
  border: 4px solid #79b33f;
  background: transparent;
  padding: 10px 25px;
  color: #79b33f;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.footer__content {
  padding: 7rem 1rem 5rem;
}

.footer__logo {
  background: url("../img/logo_footer.jpg") no-repeat center/cover;
  width: 120px;
  height: 120px;
  margin-right: 3rem;
}

.footer__title {
  font-family: SourceSansPro, sans-serif;
  text-transform: uppercase;
  color: #333b46;
  text-align: center;
}

.footer__sub-title {
  color: #81868e;
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

.footer__logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  padding-top: 5rem;
}

/*# sourceMappingURL=styles.css.map */
